<!--
  Generated template for the OpenTicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color = 'primary'>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title class='ionNavTitle'>Open Tickets</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div>
    <select required class="dropdown-size" [ngModel]="selectedticketType" (ngModelChange)="onChangeTicket($event)">
        <option class="place_holder" disabled hidden >Select Ticket Type</option>
        <option [ngValue]="i" *ngFor="let i of ticketType">{{i.type}}</option>
      </select>
    </div>

    <!-- <ion-card *ngFor="let item of item1">
      <ion-card-content>
        Ticket Type : {{item.ticketType}}       
      </ion-card-content>
    </ion-card> -->

    <ion-grid class = "align-table">
      <ion-row *ngFor="let item of item1">
        <ion-col>
          <!-- {{item.ticket}} -->
          <a href="">{{item.ticket}}</a>
        </ion-col>
        <ion-col>
          {{item.description}}
        </ion-col>
      </ion-row>
      </ion-grid>

</ion-content>
