page-open-tickets {

    .dropdown-size{
        width: 293px;
        top:85px;
        position: fixed;
        // padding-right: 10px;
        padding-left: 10px;
        border: 6px solid solid solid solid;
        border-color: #488aff solid solid solid solid;
    }

    // select option:disabled {
    //     // color: #808080;
    //     color: #F1E7E4
    // }

    // .place_holder{
    //     font-display:#F1E7E4;
    //   }

    // .col{
    //     // background: gray;
    //     border: think solid black;
    //     }

    .align-table {
        margin-top: 100px;
        position: relative;
    }
}
