<ion-menu id="myMenu" [content]="content" >
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item no-lines *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
                    <ion-icon [name]="p.icon" style="zoom:0.9;" item-left></ion-icon>
                {{p.title}}
            </button>
            <ion-item no-lines>
                    <ion-icon name="folder" item-left></ion-icon>
                    Inventory Management
                </ion-item>
        </ion-list>
        <!-- <ion-list>
            <ion-item no-lines>
                <ion-icon name="folder" item-left></ion-icon>
                Inventory Management
            </ion-item>
        </ion-list>
        <ion-list class = "menuMargin">
                <ion-item no-lines>
                    create pick
                </ion-item>
            </ion-list>
            <ion-list>
                    <button menuClose ion-item no-lines *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
                            <ion-icon [name]="p.icon" item-left></ion-icon>
                        {{p.title}}
                    </button>
                </ion-list> -->
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-list>
                <button menuClose ion-item no-lines (click)="logoutPage()">
                    Logout
                </button>
            </ion-list>
        </ion-toolbar>
    </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>