page-select-store {
    .divHeight{
    max-height: 50%;
    overflow-y: auto;
    position: fixed;
    z-index: 500;
    width:290px
    }

    .btnDownload{
        width: 135px;
        // left: 100px;
        top: 300px;
    }

    .btnUpload{
        width: 135px;
        left: 14px;
        top: 300px;
    }
    
}
