page-select-store {
    #divHeight{
    max-height: 50%;
    overflow: auto;
    position: absolute;
    z-index: 500;
    width:90%;
    // background: gray;
    display: block;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    .btnDownload{
        width: 135px;
        // left: 100px;
        top: 300px;
    }

    .btnUpload{
        width: 135px;
        left: 14px;
        top: 300px;
    }

    .button-color {
        background: gray;
    }

    // div {
    //     background: gray;
    // }
    
}
